ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    box-shadow: 0 4px 2px gray;
    border-radius: 8px;
}

.listleft{
    display: flex;
    align-items: center;
    gap: 8px;
}

.listright{
    display: flex;
    align-items: center;
    gap: 10px;
}

button{
    background: transparent;
    border: none;
}

body.dark li {
  background-color: #2a2a2a;
  color: white;
}

body.dark .icon-btn {
  color: #ccc;
}

body.dark .icon-btn svg {
  color: #ffffff;
}
.todo-title.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
