.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: white;
    box-shadow: 0 1px 4px rgb(152, 152, 152);
}

.navRight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 70px;
}

.notificationBell button:focus {
    outline: none;
    box-shadow: 0 4px  6px lightgray;
}

.notificationBell{
    display: flex;
    flex-direction: column;
    position: relative;
}

.dropdown{
    position: absolute;
    top: 100%;
    right: 1px;
    background-color: white;
    box-shadow: 0 4px  6px lightgray;
    border-radius: 10px;
    width: 220px;
    padding: 10px;
}

.dropdown p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo {
    color: #F97316;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 30px;
}
