.sort-container {
  display: flex;
  margin-left: auto;
}

.sort-wrapper {
  position: relative;
  display: inline-block;
}

.sort-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 8px 30px 8px 14px;
  border-radius: 8px;
  border: none;
  font: inherit;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  background-color: #f0f0f0;
  color: #6b7280;
}

.sort-select.selected {
  color: black;
}

.sort-select:focus {
  outline: none;
  box-shadow: none;
}

.sort-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #6b7280;
  font-size: 14px;
}